<main class="fondo-web">
  <div class="container-fluid px-0">
    <section>
      <div class="container-fluid text-center bg-success text-white py-3">
        <p class="lead">
          RE:useME es un sitio web nacido de la idea de reutilizar textiles,
          ayudando a la disminución de la huella de carbono
        </p>
      </div>
    </section>

    <section>
      <div class="py-4 container-fluid">
        <div class="container-fluid">
          <div class="row row-cols-auto justify-content-center">
            <!--Start Carousel-->
            <div class="col">
              <ngb-carousel>
                <!--First Slide-->
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img
                      [src]="images[0]"
                      class="img-fluid"
                      alt="Random first slide"
                    />
                  </div>
                  <div class="carousel-caption">
                    <h3>Bienvenido a esta nueva comunidad de tela verde</h3>
                  </div>
                </ng-template>

                <!--Second Slide-->
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img
                      [src]="images[1]"
                      class="img-fluid"
                      alt="Random second slide"
                    />
                  </div>
                  <div class="carousel-caption">
                    <h3 class="black">
                      Crea tu propio estilo e impone TU MODA!
                    </h3>
                  </div>
                </ng-template>

                <!--Third Slide-->
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img
                      [src]="images[2]"
                      class="img-fluid"
                      alt="Random third slide"
                    />
                  </div>
                  <div class="carousel-caption">
                    <h3>La moda circular es alargar la vida de tus prendas</h3>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
          <!-- End Carousel-->

          <div class="col"></div>
          <div class="col d-flex justify-content-center py-5">
            <a class="btn btn-dark btn-lg" role="button" routerLink="/registro">
              ¡Inicia tu el cambio!
            </a>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
  </div>
</main>
