<main>
  <section class="py-5 text-center container-fluid bg-success text-white">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead">
          RE:useME es un sitio web nacido de la idea de reutilizar textiles,
          ayudando a la disminución de la huella de carbono
        </p>
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col d-flex justify-content-center">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/chicas3.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card" style="width: 18rem">
            <img src="assets/images/hoja.gif" class="card-img-top" alt="..." />
            <div class="card-body">
              <p class="card-text">+ La naturaleza forma parte de.....</p>
              <p class="card-text">+ La naturaleza forma parte de.....</p>
              <p class="card-text">+ La naturaleza forma parte de.....</p>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card" style="width: 18rem">
            <img
              src="assets/images/pantalon-home.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
              <p class="card-text">+ Reutilizar ropa ayuda en......</p>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col d-flex justify-content-center py-5">
          <a href="#" class="btn btn-dark btn-lg" role="button">
            ¡Inicia tu el cambio!
          </a>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</main>
