<div class="main-wrapper row">
  <div class="bg-success text-white">
    RE:useME es un sitio web nacido de la idea de reutilizar textiles, ayudando
    a la disminución de la huella de carbono
  </div>
  <div class="row w-100">
    <div class="col-md d-flex justify-content-lg-center align-items-center">
      <div class="card" style="width: 18rem">
        <img src="assets/images/chicas3.gif" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">+ Reutilizar ropa ayuda en......</p>
          <p class="card-text">+ Reutilizar ropa ayuda en......</p>
          <p class="card-text">+ Reutilizar ropa ayuda en......</p>
        </div>
      </div>
    </div>
    <div class="col-md d-flex justify-content-lg-center align-items-center">
      <div class="card" style="width: 30rem">
        <img src="assets/images/hoja.gif" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">+ La naturaleza forma parte de.....</p>
          <p class="card-text">+ La naturaleza forma parte de.....</p>
          <p class="card-text">+ La naturaleza forma parte de.....</p>
        </div>
      </div>
    </div>
    <div class="col-md d-flex justify-content-lg-center align-items-center">
      <div class="card" style="width: 18rem">
        <img
          src="assets/images/ReciclajePantalon.gif"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">+ La naturaleza forma parte de.....</p>
          <p class="card-text">+ La naturaleza forma parte de.....</p>
          <p class="card-text">+ La naturaleza forma parte de.....</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-md"></div>
    <div class="col-md d-flex justify-content-lg-center align-items-center">
      <button type="button">¡Inicia tu el cambio!</button>
    </div>
    <div class="col-md"></div>
  </div>
</div>
