<div
  class="container-md mw-100 mh-100 text-center row"
  style="min-height: 100vh"
>
  <div class="text-bg-success body p-3 text-center">
    RE:useME es un sitio web nacido de la idea de reutilizar textiles, ayudando
    a la disminución de la huella de carbono
  </div>+
  <div class="row container align-items-center">
    <div class="col-md align-items-center pt-5">
      <img src="assets/images/chicas3.gif" class="img-fluid" />
      <p>+ Reutilizar ropa ayuda en......</p>
      <p>+ Reutilizar ropa ayuda en......</p>
      <p>+ Reutilizar ropa ayuda en......</p>
    </div>

    <div class="col-md align-items-center pt-5">
      <img src="assets/images/hoja.gif" class="img-fluid" />
      <p>+ La naturaleza forma parte de.....</p>
      <p>+ La naturaleza forma parte de.....</p>
      <p>+ La naturaleza forma parte de.....</p>
    </div>

    <div class="col-md align-items-center pt-5">
      <img src="assets/images/ReciclajePantalon.gif" class="img-fluid" />
      <p>+ La naturaleza forma parte de.....</p>
      <p>+ La naturaleza forma parte de.....</p>
      <p>+ La naturaleza forma parte de.....</p>
    </div>
  </div>
  <div class="row container align-items-center">
    <div class="col-md"></div>
    <div class="col-md align-items-center">
      <button type="button">¡Inicia tu el cambio!</button>
    </div>
    <div class="col-md"></div>
  </div>
</div>
