<main>
  <div class="container-fluid p-5">
    <!--tags, botones subir foto y filtros-->
    <div class>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <!--tags-->
        <div class="col d-flex justify-content-end align-items-center py-2">
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#pantalones</span>
            </div>
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#polerones</span>
            </div>
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#calcetines</span>
            </div>
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#zapatillas</span>
            </div>
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#vestidos</span>
            </div>
            <div class="col d-flex justify-content-center py-1">
              <span class="badge rounded-pill text-bg-dark">#poleras</span>
            </div>
          </div>
        </div>
        <!--boton filtros-->
        <div class="col d-flex justify-content-center align-items-center py-3">
          <div class="mx-1">
            <button class="btn btn-lg btn-dark">Filtros ↓</button>
          </div>
        </div>
        <!--boton subir foto-->
        <div class="col d-flex justify-content-center align-items-center py-3">
          <div class="mx-1">
            <button class="btn btn-lg btn-dark">Sube tu foto</button>
          </div>
        </div>
      </div>
    </div>
    <!--publicaciones de usuarios-->
    <div class="py-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rows-cols-lg-4">
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba-galeria.png"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba2-galeria.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba3-galeria.jpg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba4-galeria.png"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba5-galeria.png"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-2">
          <div class="card card-size">
            <div class="card-body">
              <p class="card-title">@nombre usuario</p>
              <div>
                <img
                  src="assets/images/prueba6-galeria.png"
                  class="card-img-top img-fluid"
                  alt="..."
                />
              </div>
              <h5 class="card-title">titulo publicacion</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
