<main class="fondo-web">
  <div class="container-fluid">
    <div
      class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 g-3 py-5"
    >
      <div class="col d-flex justify-content-center align-items-center">
        <img
          src="assets/images/side-img-login-registro.png"
          class="img-fluid"
        />
      </div>
      <div
        class="col d-flex justify-content-center align-items-center text-center"
      >
        <H1 class="display-1">¡Felices de volver a verte!</H1>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <form>
          <div class="mb-3">
            <label for="login-mail-input" class="form-label">Correo</label>
            <input
              type="email"
              class="form-control"
              id="login-mail-input"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="login-pass-input" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="login-pass-input" />
          </div>
          <button type="submit" class="btn btn-dark" routerLink="">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</main>
