<div class="main-wrapper text-center row">
  <div class="col-sm d-flex justify-content-lg-center align-items-center">
    <figure>
      <img src="assets/images/login.jpg" class="img-fluid" />
    </figure>
  </div>
  <div class="col-md d-flex align-items-center justify-content-lg-left">
    <div>
      <H1 class="display-1">¡Felices de volver a verte!</H1>
    </div>
  </div>
  <div class="col-md d-flex align-items-center justify-content-md-center">
    <form>
      <div class="mb-3">
        <label for="login-mail-input" class="form-label">Correo</label>
        <input
          type="email"
          class="form-control"
          id="login-mail-input"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="login-pass-input" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="login-pass-input" />
      </div>
      <button type="submit" class="btn btn-dark">Iniciar sesión</button>
    </form>
  </div>
</div>
