<app-navbar></app-navbar>
<div class="container-lg mw-100 mh-100 bg-primary text-center text-white" style="min-height: 100vh">
    <div class="row align-items-start">
        <div class="col-lg ">
            <div class="bg-warning">
                <figure>
                    <img class="figure-img img-fluid" src="assets/login.jpg" >
                </figure>
            </div>
        </div>
        <div class="col-lg" >
            <div class="bg-warning">
                2
            </div>
        </div>
        <div class="col-lg">
            <div class="bg-warning">
                3
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
