<main class="fondo-web">
  <div class="container-fluid">
    <section>
      <div class="container-fluid text-center bg-success text-white py-5">
        <p class="lead">
          Pequeñas guías para que inicies en el mundo del reciclaje textil
        </p>
      </div>
    </section>
    <section>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 p-5">
        <div class="col d-flex justify-content-center align-items-center py-5">
          <div
            class="video-container d-flex justify-content-center align-items-center"
          >
            video 1
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center pb-3">
          <p class="bg-dark text-white p-2 rounded">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            repellat quidem laudantium tempora debitis totam ullam. Fuga dolores
            similique itaque.
          </p>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-5">
          <div
            class="video-container d-flex justify-content-center align-items-center"
          >
            video 2
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center pb-3">
          <p class="bg-dark text-white p-2 rounded">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum sunt
            eum, fugiat fugit in blanditiis explicabo reprehenderit laborum
            quibusdam quo?
          </p>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-5">
          <div
            class="video-container d-flex justify-content-center align-items-center"
          >
            video 3
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center pb-3">
          <p class="bg-dark text-white p-2 rounded">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut velit
            maxime, sequi quas accusamus doloremque nulla quis dolorum nam
            consequuntur?
          </p>
        </div>
        <div class="col d-flex justify-content-center align-items-center py-5">
          <div
            class="video-container d-flex justify-content-center align-items-center"
          >
            video 4
          </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center pb-3">
          <p class="bg-dark text-white p-2 rounded">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
            architecto omnis quia eligendi error rem dolores hic dolor ipsum ad?
          </p>
        </div>
      </div>
    </section>
  </div>
</main>
