<main class="fondo-web">
  <section>
    <div class="container-fluid text-center bg-success text-white py-5">
      <p class="lead">
        Pequeñas Guias para que inicies en el mundo del reciclaje textil
      </p>
    </div>
  </section>
  <section>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 px-5">
      <div class="col d-flex justify-content-center align-items-center py-5">1</div>
      <div class="col d-flex justify-content-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim non
        officia accusamus nihil eius ducimus velit cumque et animi expedita!
      </div>
      <div class="col d-flex justify-content-center align-items-center py-5">3</div>
      <div class="col d-flex justify-content-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
        consequatur aut explicabo libero aliquid est optio reiciendis porro quia
        quidem!
      </div>
      <div class="col d-flex justify-content-center align-items-center py-5">5</div>
      <div class="col d-flex justify-content-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla
        illo ullam sed saepe esse, veritatis amet similique aliquid repellendus?
      </div>
      <div class="col d-flex justify-content-center align-items-center py-5">7</div>
      <div class="col d-flex justify-content-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
        dolorum facilis natus ratione ad corporis sed? Id illo consectetur
        error?
      </div>
    </div>
  </section>
</main>
