<main class="fondo-web">
  <div class="container-fluid">
    <br />
    <!-- Intento de box de publicacion -->
    <div class="container">
      <div class="row row-cols-1">
        <div class="col">
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-dark py-2"
              routerLink="/nueva-publicacion-foro"
            >
              Nueva publicacion
            </button>
          </div>
          <br />
          <!-- card de texto-->
          <div class="card text-bg-light mb-3" style="width: auto">
            <div class="card-body">
              <!--<i class="bi bi-person-circle"><a> Jimmy</a></i> -->
              <div>
                <i class="bi bi-person-circle" routerLink="/perfil-usuario"><a> Jimmy</a></i>
              </div>
              <!--Cambiar por una columna que cambie el nombre y el icono-->
              <p class="card-text">
                Alguien cacha como puedo hacer desaparecer un ojal de una
                camisa?
              </p>
              <div class="row">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-danger bi bi-heart"
                  ></button>
                </div>
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-light bi bi-chat-square"
                  ></button>
                </div>
                <!--columa vacía para alinear-->
                <div class="col-10"></div>
              </div>
            </div>
          </div>

          <!-- nueva carta-->
          <br />
          <div class="card text-bg-light mb-3" style="width: auto">
            <div class="card-body">
              <i class="bi bi-person-circle"><a> Yuki</a></i>
              <p class="card-text">
                Me encanto como quedo, gracias a la tecnica "pintura en tela
                caliente" logre este acabado hermoso en acuarela
              </p>
              <div class="row">
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-danger bi bi-heart"
                  ></button>
                </div>
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-light bi bi-chat-square"
                  ></button>
                </div>
                <div class="col-10"></div>
              </div>
            </div>
            <div class="img-container">
              <img
                src="assets/images/ImagenEjemploForo.jpg"
                class="card-img-top img-fluid"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="py-5">
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="100" [(page)]="page" [maxSize]="4" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</main>
