<main class="fondo-web">
  <div class="container-fluid pt-5">
    <div
      class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 g-3 py-5"
    >
      <!-- Imagen -->
      <div class="col align-items-top">
        <img
          src="assets/images/side-img-login-registro.png"
          class="img-fluid"
        />
      </div>

      <!-- Mensaje central -->
      <div class="col align-items-top text-center">
        <H1 class="display-1">¡Felices de volver a verte!</H1>
      </div>

      <!-- Formulario iniciar sesión -->
      <div class="col p-5">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</main>
