<main class="fondo-web">
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col">
                <h1 class="py-5">Tus estadisticas</h1>
                  <div class="card" style="width: 30rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Tus Publicaciones -></li>
                      <li class="list-group-item">Tus Likes -></li>
                    </ul>
                  </div>
            </div>
            <div class="col-5">
                <img src="assets/images/jimmy.jpg" class="rounded-circle border border-dark imag-fluid"/>
                <h4>Jimmy</h4>
            </div>
            <div class="row py-5 justify-content-end">
                <div class="col-6 ">
                    <h2>Tus Datos de Seguridad</h2>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Correo Electronico</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="el_locoJimmy@gmail.com">
                      </div>
                      <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="jimmyNeutron2">
                      </div>
                </div>
            </div>
        </div>
    </div>
</main>